/* General styling */
body {
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
}

.hero {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

.hero-text h1 {
    color: #0077cc;
    font-size: 2.5em;
}

.hero-text h2 {
    color: #333;
    font-size: 2em;
}

.hero-text p {
    color: #666;
    font-size: 1.2em;
}

.hero-image img {
    max-width: 100%;
    height: auto;
}

/* Navigation styling */
nav ul {
    list-style: none;
    background: #333;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #0077cc;
}

/* General Section Styling */
.section-container {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: left;
}

.section-item {
    background: #fff;
    padding: 20px;
    margin: 10px;
    border-left: 5px solid #0077cc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.section-item h3 {
    color: #333;
    margin: 0 0 10px 0;
    font-size: 1.5em;
}

.section-item p {
    color: #666;
    margin: 0;
    font-size: 1em;
}

/* Specific adjustments for the Education section */
#education .section-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Apply flexbox to align items horizontally for larger screens */
@media screen and (min-width: 768px) {
    .section-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

/* Buttons */
.btn {
    display: inline-block;
    background: #0077cc;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #005fa3;
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
